// Media Query Breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Padding
$p1: 0.5rem; // 8px
$p2: 0.75rem; // 12px
$p3: 1rem; // 16px

// Primary Colours
$blue: #0078ff;
// $input-field: #f2f2f2;
$reply-msg: #e9e9eb;
$ui-text: #909093;
$black: #171718;
