@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.messageList {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 375px;
  height: 578px;
  padding: $p2;
  position: absolute;
  top: 115px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.message {
  width: 100%;
  height: fit-content;

  &__userContainer {
    display: flex;
    justify-content: flex-end;
  }

  &__user {
    width: fit-content;
    background-color: $blue;
    border-radius: 32px;
    color: #fff;
    padding: $p1 $p2;
    margin-bottom: 25px;
  }

  &__botContainer {
  }

  &__bot {
    width: fit-content;
    background-color: $reply;
    border-radius: 32px;
    color: $black;
    padding: $p1 $p2;
    margin-bottom: 25px;
  }
}
